@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<br />

<div class="container d-flex flex-wrap">

    @foreach (var product in Model.Products)
    {

        <div class="recatngle" style="width: 23rem; margin-bottom:10px;margin-left: 50px;">
            <img class="card-img-top" src="~/images/@product.Photo" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">Pizza No. : @product.Id  <br />Price : $ @product.Price</p>

                    <a class="btn btn-primary"     asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Add To Cart</a> 

                </div>
        </div>
      
    }
</div>
